<!-- <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" >stock system</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  d-flex">
        <li class="nav-item ">
          <a class="nav-link active " aria-current="page" href="#"><span>in stock</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><span>orders</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true"><span>about me</span></a>
        </li>
        <form class="d-flex">
       <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success" type="submit">Search</button>
     </form>
      </ul>
    </div>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" >stock system</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item ">
          <%= link_to  'in stock' ,stock_index_path ,class:"nav-link active"  %>
        </li>
        <li class="nav-item ">
          <%= link_to  'products' ,products_path ,class:"nav-link active"  %>
        </li>
        <li class="nav-item">
            <%= link_to  'orders' ,orders_index_path ,class:"nav-link active"  %>
        </li>
        <li class="nav-item ">
          <%= link_to  'about me' ,home_about_path ,class:"nav-link active"  %>
        </li>


      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
