// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.body {
  background-color: #DEA6B5;

}
.ttt:hover{
  color:  white;
}
.ttt{
  color: #212529;
  text-decoration: none;
  font-weight: bold;
cursor: -webkit-grab;
cursor: grab;
}
